<div class="col-12 image" style="color: maroon;">
    <h2>Junk Food is also Food</h2>
    <div class="row">
    <div class="col-md-6 outimg">
        <img src="assets\o_2.jpg" class="outimg" style="width: 10em; margin-top: 20px;">
        <button type="button" class="btn btn-info buttonimg">
            Burger
        </button>
    </div>
    <div class="col-md-6 outimg">
        <img src="assets\o_3.jpg" class="outimg" style="height: 8em; margin-top: 20px;" >
        <button type="button" class="btn btn-info buttonimg" >
            Pizza
        </button>
    </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6 outimg">
        <img src="assets\o_5.jpg" class="outimg" style="width: 10em;"> 
        <button type="button" class="btn btn-info buttonimg">
            Pani Puri
        </button>
        </div>
        <div class="col-md-6 outimg">
           <img src="assets\o_4.jpg" class="outimg" style="width: 10em;">
            <button type="button" class="btn btn-info buttonimg" >NO Means NO</button>

        </div>
    </div>
</div>