<nav class="navbar bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <div>
        <div>
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink='temple'>Temple Prasadam</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='outside'>Outside_Food</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink='homefood' id="navbardrop" data-toggle="dropdown">
                    Home_Food
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Namba Veedu</a>
                    <a class="dropdown-item" href="#">Pakathuveedu</a>
                    <a class="dropdown-item" href="#">Athai Veedu</a>
                  </div>
               </li>
               <li class="nav-item">
                <a class="nav-link" routerLink ="meal">Video</a>
              </li>
           </ul>
        </div>
      </div>
    </ul>
</nav>