<div class="col-12 image" style="color: white;">
    <h2>Information is wealth</h2>
    <div class="row">
    <div class="col-md-6 templeimg">
        <img src="assets/tirupati.jpg" class="templeimg" style="width: 10em; margin-top: 20px;">
        <button type="button" class="btn btn-info buttonimg" data-toggle="popover">
            Tirupati
        </button>
      
    </div>
    <div class="col-md-6 templeimg">
        <img src="assets/Anjaeyar.jpg" class="templeimg" style="height: 8em; margin-top: 20px;" >
        <button type="button" class="btn btn-info buttonimg" >
            Anjaeyar
        </button>
    </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6 templeimg">
        <img src="assets/Sabarimalai.jpg" class="templeimg" style="width: 10em;"> 
        <button type="button" class="btn btn-info buttonimg">
            Sabari
        </button>
        </div>
        <div class="col-md-6 templeimg">
           <img src="assets/mutton prasadam.jpg" class="templeimg" style="width: 10em;">
            <button type="button" class="btn btn-info buttonimg" data-toggle="modal" data-target=".bd-example-modal-lg">Ayanaar    </button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-body">

                       MADURAI
                       Biryani as temple prasadam: an 83-year-old tradition
                
                       Vadakkampatti, a small village in Thirumangalam taluk of Tamil Nadu’s Madurai district, hosts an unusual annual temple festival. 
                       Where else can you find biryani served as prasad? 
                       And, it’s not just for devotees; anyone who walks into Vadakkampatti on January 25 this year will be treated to a hearty meal of mutton biryani.
                    
                       This has been a tradition for 83 years.
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>